.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background: #003f88;
  color: white;
}

.navbar button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
